



<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">NRD-Shop</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngIf="loggedInUser && (loggedInUser.level == 1)" class="nav-item">
        <a class="nav-link" routerLink="/game-list" routerLinkActive="active">Games</a>
      </li>
      <li *ngIf="loggedInUser && loggedInUser.level == 1" class="nav-item">
        <a class="nav-link" routerLink="/shoppingCart" routerLinkActive="active">Cart</a>
      </li>
      <li *ngIf="loggedInUser && loggedInUser.level == 10" class="nav-item">
        <a class="nav-link" routerLink="/manage-games" routerLinkActive="active">Mange games</a>
      </li>
    </ul>
  </div>
</nav>


<!-- Bootstrap CSS -->
<!-- jQuery first, then Bootstrap JS. -->
<!-- Nav tabs -->

<!--<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#gameList" role="tab" data-toggle="tab">Games</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#cart" role="tab" data-toggle="tab">Cart</a>
  </li>
  <li class="nav-item rightMenu">
    <a class="nav-link" href="#gameManager" role="tab" data-toggle="tab">Manage games</a>
  </li>
  <div class="ml-auto">
    <button class= "btn btn-outline-success">Login</button>
    <button class= "btn btn-outline-danger">Register</button>
  </div>
</ul>

<! Tab panes -->
<!--<div class="tab-content">

  <div role="tabpanel" class="tab-pane fade in active" id="gameList"><app-game-list></app-game-list></div>

  <div role="tabpanel" class="tab-pane fade" id="cart"><app-shopping-cart></app-shopping-cart></div>

  <div role="tabpanel" class="tab-pane fade" id="gameManager"><app-manage-games></app-manage-games></div>

</div>-->


<router-outlet></router-outlet>