 <img class="card-img-top" src={{game.imageUrl}} alt={{game.name}} style="width:100%;">
  <div class="card-block">
    <h4 class="card-title">{{game.name}}</h4>
    <div class="flex">
      <div class = "card-text tag" *ngFor="let p of game.platforms" [ngClass]="p.toLowerCase()">{{p}}</div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="font-weight: 700;">{{game.price}} €</li>
    <li class="list-group-item genre">{{game.genre}}</li>
  </ul>
  <div class="card-block text-center">
    <a  class="btn btn-outline-primary" [routerLink]="['/game', game.id]">Description</a>
    <a  id="cartAdder" class="btn btn-outline-success" (click) ="addItem()" ></a>
  </div>
