
<div *ngIf="!isLoading">
  <div>
    <a class="btn btn-outline-primary" [routerLink]="['/addGame']">Add new</a>
    <table class="table table-striped table-hover">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </thead>
      <tbody>
          <tr *ngFor="let g of gameList">
            <td>{{g.id}}</td>
            <td>{{g.name}}</td>
            <td>{{g.price}} €</td>
            <td>
              <a  class="btn btn-outline-primary" [routerLink]="['/addGame', g.id]">Edit</a>
              <a class="btn btn-outline-primary" (click)="deleteGame(g.id)">Delete</a>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
