<div>
  <table class="table table-striped table-hover">
    <thead>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let g of gameList">
          <td>{{g.name}}</td>
          <td>{{g.price}}</td>
        </tr>
    </tbody>
  </table>

  <table class="table table-striped table-hover">
    <thead>
      <th>Total price</th>
      <th>Price</th>
      <th></th>
    </thead>
    <tbody>
        <tr>
          <td>Viso:</td>
          <td>{{this.shoppingCartService.getPrice(this.gameList)}}</td>
        </tr>
    </tbody>
  </table>

</div>