<div class="card cartTop">
  <div class="card-block">
    <h2 class="card-title">Item cart</h2>
    <h6 class="card-subtitle mb-2 text-muted">Price for everything: </h6>
    <h4 class="card-text">{{this.shoppingCartService.getPrice()}}</h4>
  </div>
</div>

<div class="card-deck">
  <!--<div class="row">-->
    <!--<div class="col-md-3 col-sm-6 col-xs-12">-->
      <app-game-item *ngFor="let g of gameList" [item]="g" class="card" style="width: 20rem;"></app-game-item>
  <!--</div>-->
  <!--</div>-->
</div>